/* @font-face {
    font-family: "Edensor Free";
    src: url(../../../assets/font/Edensor-Free.otf);
}

nav{
    height: 12vh;
    width: 100%;
    background-color: #F8F9FA;
    box-shadow: 0 2px 5px #888888;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-family: "Edensor Free";
    font-size: 20px;
    margin-left: 20px;
    color: #349097;
}


nav .middle .btn{
    margin-right: 10px;
    background:white;
    color: #349097;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 20px;
    list-style: none;
}

nav .middle .btn:hover{
    background-color: rgb(241, 240, 240);
}

nav .deconnexion{
    padding: 10px 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .deconnexion li.btn1{
    background:white;
    color: #349097;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 20px;
    list-style: none;
}

nav .deconnexion .btn1{
    text-decoration: none;
}

nav .deconnexion .btn:hover{
    background-color: rgb(241, 240, 240);
}

nav .menuburger{
    display: none;
    position: absolute;
    top: 37px;
    right: 20px;
    width: 35px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    border-right: 2px solid black;
    z-index: 10;
}

.sidebar li{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #349097;
    padding: 10px 30px;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}

@media screen and (max-width: 1050px){

    nav .menuburger{
        display: block;
    }

    nav .middle, .deconnexion{
        display: none;
    }

    .show-sidebar {
        transform: translateX(0%);
    }
    
} */

.logo{
    width: 10%;
    cursor: pointer;
    margin-right: auto;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    height: 13vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 7%;
    background-color: rgb(42, 42, 42);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3 ease 0s;
}

.nav-links li a:hover{
    color: #5A9147;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #5A9147;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}