<div class="main">
    <div class="sidebar">
        <ul>
            <a class="btn1">
                <li>Gestion stocks</li>
            </a>
            <a class="btn1">
                <li>Gestion utilisateurs</li>
            </a>
            <a class="btn1">
                <li class="btn btn1">Gestion fournisseurs</li>
            </a>
            <a>
                <li>Se déconnecter</li>
            </a>
        </ul>
    </div>
    
    <nav>
        <div class="logo">
            <h1>AGGRO</h1>
        </div>
        <div class="middle">
            <ul>
                <a class="btn1">
                    <li class="btn btn1">Gestion stocks</li>
                </a>
                <a class="btn1">
                    <li class="btn btn1">Gestion utilisateurs</li>
                </a>
                <a class="btn1">
                    <li class="btn btn1">Gestion fournisseurs</li>
                </a>
            </ul>
        </div>
        <div class="deconnexion">
            <ul>
                <a [routerLink]="''" class="btn1">
                    <li class="btn btn1">Se déconnecter</li>
                </a>
            </ul>
        </div>
        <img src="../../../assets/img/menuBurger.png" alt="" class="menuburger">
    </nav>
    </div>
