<app-navbar></app-navbar>

<div class="content">
    <h1>Liste employés</h1>
    <dx-data-grid class="tab" [dataSource]="employees" [rowAlternationEnabled]="true" keyExpr="id"
        [showBorders]="true">

        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
            [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo">
        </dxo-pager>
        

        <dxo-filter-row [visible]="true"> </dxo-filter-row>

        <dxi-column dataField="firstname" caption="Prénom"></dxi-column>
        <dxi-column dataField="lastname" caption="Nom"></dxi-column>
        <dxi-column dataField="cellphone" caption="Télèphone portable"></dxi-column>
        <dxi-column dataField="phone" caption="Télèphone fixe"></dxi-column>
        <dxi-column dataField="email" width="230px" caption="Email"></dxi-column>

        <dxi-column dataField="serviceId" caption="Service">
            <dxo-lookup [dataSource]="services" displayExpr="name" valueExpr="id"></dxo-lookup>
        </dxi-column>

        <dxi-column dataField="siteId" caption="Site">
            <dxo-lookup [dataSource]="sites" displayExpr="city" valueExpr="id"></dxo-lookup>
        </dxi-column>

    </dx-data-grid>
</div>
